@model Assignment4.Models.Categories
@{
    ViewData["Title"] = "Categories";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
</head>
<body>

    <div id="container">
        <div id="mainpic">
            <div>
                <h1>Agriculture<span class="off">SurveyData</span></h1>
                <h2>2018</h2>
            </div>
        </div>

        <div id="menu">
            <ul>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="States">States</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Categories">Category</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Reports">Survey Data</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>


            </ul>
        </div>
        <div style="text-align:center">
            <b>Categories are displayed in the table below</b>
        </div>
        <br /> <br />

        <table class="MyTable">
            <tr>
                <th>Category Sequence </th>
                <th>Category ID </th>
                <th>Category Name </th>
                <th>Category Description </th>
            </tr>
            @foreach (var item in Model.data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sequence)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                </tr>
            }

        </table>
        <br />

        <br />

        <div style="text-align:center">
            <a id="dbopt" asp-controller="Home" asp-action="SaveCategories">
                <input type="button" class="MyButton" value="Save Categories">
            </a>
        </div>

        <style>

            .Mybutton {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
            }
        </style>


    </div>
</body>

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

