@model Assignment4.Models.SurveyDatas
@{
    ViewData["Title"] = "SurveyData";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <script src="MyJavascript.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="~/js/Custom.js"></script>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <title> Survey Data </title>
</head>
<body>
    <div id="container">
        <div id="mainpic">
            <div>
                <h1>Agriculture<span class="off">SurveyData</span></h1>
                <h2>2018</h2>
            </div>
        </div>

        <div id="menu">
            <ul>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="States">States</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Categories">Category</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Reports">Survey Data</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>


            </ul>
        </div>

        <div style="text-align:center">
            <!--<h2>States</h2>-->
            <b>Survey Data is shown below</b>
        </div>
        <div>
            <br /> <br />
            <p>

                ARMS Survey Design followed stratified sampling design. States are divisions within the sample frames that group
                farms by region (or by State in the case of 15 heavily sampled States), farm sales category,
                and commodity specialization.
            </p>


            <table class="MyTable">
                <tr>
                    <th>Year </th>
                    <th>State ID </th>
                    <th>Category Name </th>
                    <th>Farm Type</th>
                    <th>Report</th>
                    <th>Variable Name</th>
                    <th>Estimate</th>

                </tr>

                @foreach (var item in Model.data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.year)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.state)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.farmtype)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.report)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.variable_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estimate)
                        </td>
                    </tr>
                }

            </table>


            <br /><br />

            <script>
                alertDbSave(@ViewBag.dbSuccessComp);
            </script>

        </div>
    </div>
</body>